.tab-content {
  padding: 15px;
}
.nav .active {
	border-bottom: 5px solid orange;
}
.bold {
  font-weight: 600;
  color: black !important;
}

.navbar {
  background-color: white !important;
  .sidebar-toggle {
    color: black !important;
    &:hover {
      background-color: unset !important;
    }
  }
  .page-name {
    color: darkgray;
    font-weight: 600;
  }
  .user-block {
    .username {
      font-weight: 300;
      font-size: 12px;
      opacity: 0.8;

      a {
        color: black !important;
      }
    }
    .description {
      font-weight: 500;
      font-size: 14px;
      color: black !important;
    }
  }
}

.nav {
  background-color: white;

  .active {
    border-bottom: 5px solid orange;
    a {
      border: none !important;
      &:hover {
        background-color: unset;
        border-bottom: unset;
        border: none !important;
      }
    }
  }

  li {
    a {
      padding-top: 20px;
      margin: 0;
      border-right: none !important;
      &:hover {
        background-color: unset;
        border-bottom: unset;
        border: none !important;
      }
    }
  }

}

.btn-box-tool {
  display: none;
}

.box{
  border-top:1px solid #ccc;
}

.user-panel {
  display: none;
}

.sidebar-form{
  display: none;
}

.control-label, .value-text {
  font-size: 16px !important;
  color: darkgray;
}

